@media (max-width:600px) {
    .logo_phone {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 280px;
    }

    .navigation_phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .navigation_phone:hover {
        border-bottom: 4px solid lightblue;
        width: 100px;
    }

    .dot_for_phone {
        display: none;
    }

    .img_for_phone {
        width: 380px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .statement_phone {
        font-size: medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
    }

    .statement_and_photo_phone {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }

    .button_phone {
        background-color: #458FF6;
        border: none;
        color: white;
        width: 60px;
        margin-top: 50px;
        cursor: pointer;
        border-radius: 50px;
    }

    .our_services_phone {
        display: flex;
        width: 400px;
        padding-left: 160px;
    }

    .services_main_phone {
        display: flex;
        flex-direction: column;
    }

    .services_second_main_phone {
        display: flex;
        flex-direction: column;
    }

    .centering-div_phone {
        padding-left: 90px;
    }

    .trafalgar-illustration_phone {
        width: 400px;
    }

    .midle-content-div_phone {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 230px;
    }

    .midle-content_phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 210px;
        margin-top: -150px;
    }

    .trafalgar-illustration {
        width: 450px;
        margin-top: 10px;
    }

    .feedback_phone {
        border: solid #67C3F3 1px;
        background-color: #67C3F3;
        width: 520px;
        height: 380px;
        padding-top: 64px;
        margin: auto;
        border-radius: 20px;
        margin-left: 120px;
    }

    .feedback_content_phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        margin-top: 1px;
    }

    .articles_phone {
        display: flex;
        flex-direction: column;
        padding-left: 200px;
    }

    .latest-article_phone {
        display: flex;
        justify-content: center;
        padding-left: 170px;
    }
    .line-3_phone{
        margin-left: 160px;
    }
}